<h1>Créer un nouvel article</h1>

<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_for @post do |f| %>

  <div class="mb-3">
    <label class="form-label">Titre de l'article</label>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label">URL de l'article</label>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label">Contenu de l'article</label>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <button type="submit" class="btn btn-success">Créer l'article</button>

<% end %>
