<h1>Catégories</h1>

<table class="table">
  <thead>
  <tr>
    <td>ID</td>
    <td>Nom</td>
    <td>Actions</td>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td class="d-flex gap-1">
        <%= button_to "Détails", category_path(category.id), method: :get, class: "btn btn-primary" %>
        <%= button_to "Éditer", edit_category_path(category.id), method: :get, class: "btn btn-success" %>
        <%= button_to "Supprimer", category, method: :delete, form: { data: { turbo_confirm: "Êtes-vous sûr ?" } }, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <a href="<%= new_category_path %>" class="btn btn-success">Créer une nouvelle catégorie</a>
</p>
